* {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  border-collapse: collapse;
  text-decoration: inherit;
  color: inherit;
  list-style: none;
}

*:focus {
  outline: none;
}

div, main, header, section, article {
  position: relative;
}

:root {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Georgia", serif;
}

h1 {
  font-size: 3rem;
  line-height: 1em;
  margin: 0.5rem auto;
}

h2 {
  font-size: 2rem;
  line-height: 1em;
  margin: 0.5em auto;
}

h2 + p {
  color: #999;
  font-style: italic;
}

a {
  color: #0000dd;
  text-decoration: underline;
}

a:hover {
  color: #ff6600;
}

strong {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

em {
  font-style: italic;
  border-bottom: 1px solid #ccc;
}

blockquote {
  padding-left: 1rem;
  border-left: 1px solid #ccc;
}

code {
  font-family: "Courier", monospace;
  background-color: #f9f9f9;
  display: inline-block;
  padding: 0 0.5em;
  border-radius: 3px;
}

pre > code {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.tags {
  font-style: italic;
}

.tags li {
  display: inline-block;
  margin-right: 1em;
}

.source, .source a {
  font-style: italic;
  color: #aaa;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 100%;
}

.source a:hover {
  color: #ff6600;
}

body {
  width: 100%;
  max-width: 800px;
  min-width: 320px;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
  background-color: #fff;
}

body > header {
  margin: 4rem auto;
}

section {
  border-top: 1px solid #ccc;
  margin: 3rem auto 4rem auto;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

section > header {
  margin: 2rem auto;
}

section > header figure {
  display: block;
  background-color: #fff;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  padding: 1rem;
  margin: 2rem auto;
}

section > header figure img {
  display: block;
  max-width: 100%;
  max-height: 600px;
  margin: 0 auto;
}

section > .main p {
  margin: 1rem auto;
}

section > footer {
  margin-top: 3em;
}

@media print {
  section > header {
    page-break-inside: avoid;
  }
}
