$font-base: 'Arial', sans-serif;
$font-header: 'Georgia', serif;

*{
	margin:0;
	border:0;
	padding:0;
	font-size:inherit;
	font-family:inherit;
	font-weight:inherit;
	font-style:inherit;
	border-collapse:collapse;
	text-decoration:inherit;
	color:inherit;
	list-style:none;
}
*:focus{
	outline:none;
}
:root, body{
	width:100vw;
	max-width:100%;
	overflow-x:hidden;
}
div, main, header, section, article{
	position:relative;
}

:root{
	font-family:$font-base;
	font-size:16px;
	line-height:1.9em;
	font-weight:400;
}